*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
h1.title{
	text-align: center;
	font-family: Agency FB;
	font-size: 55px;
}
/*navbar*/
.main{
	position: relative;
}
.main .nav{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}
.main .nav .navbar_items ul{
	display: flex;
}
.main .nav .navbar_items ul li {
	
	text-transform: uppercase;
	margin: 0 10px;
}
.main .nav .navbar_items ul li a{
	color: white;
	font-family: Agency FB;
}
.main .nav .navbar_items ul li a:hover{
	color: orange;
	transition: 1s;
}
.main .nav .logo{
	font-size: 45px;
	color: white;
	font-family: monotype corsiva;
}
.main .nav .logo:hover{
	color: cyan;
	transition: 3s;
}
/*banner*/
.ban_img{
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url("fff.jpg");
	background-size: cover;
	width: 1600px;
	height: 800px;
}
.ban_img .bancont h1{
	height: 100vh;
	text-transform: uppercase;
	line-height: 38px;
	color: white;
	font-family: Agency FB;
	text-align: center;
	justify-content: center;
}
.ban_img .bancont h1 span{
	color: cyan;
}
/*definition*/
.def p{
	color: grey;
	font-size: 22px;
}
/*type*/
.type p{
		color: grey;
	font-size: 22px;
}
.img{
	display: flex;
	align-items: center;
	justify-content: center;
}
figure{
	height: 400px;
	overflow: hidden;
}
img{
	height: 400px;
	transition: all 1s linear;
}
img:hover{
	transform: scale(1.1);
}
.type h4{
	color: grey;
	font-size: 20px;
	text-align: center;
}
.jj{
		display: flex;
	align-items: center;
	justify-content: center; 
}
.type h3{
	font-family: Agency FB;
	text-transform: uppercase;
	color: grey;
	font-size: 20px;
	text-align: center;
}
.jsm{
		display: flex;
	align-items: center;
	justify-content: center;
}
.vid{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact{
  max-width: 190px;
  margin: auto;
  padding: 10px;
}
.contact .form{
    display: block;
    margin: 10px 0px;
 }
.contact .form input[type="text"]{
	width: 250px;
    display: block;
    padding: 10px 0;
    margin: 15px 0;
    border-radius: 5px;
}
.contact .form textarea{
	display:flex;
	width: 250px;
	padding: 12px 20px;
	height: 80px;
	resize: none;
    border-radius: 5px;
}
.btn{
	align-items: center;
	text-align: center;
	background-position: center;
}
.btn a{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	align-items: center;
	text-transform: uppercase;
	color: grey;
	text-align: center;
	cursor: zoom-in;
	background-size: 150%;
	transition: 2s;
	overflow: hidden;
}
.btn a:hover{
  color: white;
  background: orange;
  box-shadow: 0 0 10px 	#B22222, 0 0 40px 	#B22222, 0 0 80px 	#B22222;
}
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding:20px 0; 
}
.footer a{
	font-size: 25px;
	text-align: center;
	color: white;
}
.footer i {
	font-size: 30px;
	color: white;
}
@media (max-width: 720px){
	.nav{
		height: auto;
		flex-direction: column;
	}
	.nav .navbar_items ul{
		flex-direction: column;
		text-align: center;
	}
	.logo{
		margin-bottom: 25px;
	}
	.nav .navbar_items ul li{
		margin-bottom: 5px;
	}
	.bancont{
		margin-top: 35px;
	}
}
